<div class="container mt-3">
<h1 class="mb-3">Membres de <%= @group.name %></h1>

<div class="card-product">

  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>

      <% @group.profiles.each do | profile |%>

  <div class="card-product-infos">
    <h2><%= profile.username%></h2>
    <% @dogs.each do |dog|%>
    <p><%= dog.name%></p>
    <p><%= dog.breed %></p>

  </div>
  <% end %>
  <% end %>
</div>
<div class="edit-btn">
<%= link_to "Revenir en arrière", :back %>
</div>
</div>
