<div class="container">
  <h2 class="mt-5">Recherche</h2>

  <%= form_with url: search_path, method: :get, class: "d-flex" do |f| %>
    <%= f.text_field :city, class: "form-control", placeholder: "Quelle ville cherchez-vous ?", autocomplete: "off" %>
    <%= f.date_field :date, class: "form-control", placeholder: "Date", autocomplete: "off" %>
    <%= f.time_field :start_time, class: "form-control", placeholder: "Heure de début", autocomplete: "off" %>
    <%= f.text_field :adress, class: "form-control", placeholder: "Adresse", autocomplete: "off" %>
    <%= f.submit "Rechercher", class: "btn btn-primary ml-2" %>
  <% end %>

  <% if @groups.any? || @walks.any? %>
    <div class="results">
      <% if @groups.any? %>
        <h3>Groupes</h3>
        <div class="cards">
          <% @groups.each do |group| %>
            <div class="card">
              <p><strong>City:</strong> <%= group.city %></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @walks.any? %>
        <h3>Promenades</h3>
        <div class="cards">
          <% @walks.each do |walk| %>
            <div class="card">
              <p><strong>Date:</strong> <%= walk.date %></p>
              <p><strong>Start Time:</strong> <%= walk.start_time %></p>
              <p><strong>Address:</strong> <%= walk.adress %></p>
              <!-- Ajoutez d'autres informations pertinentes pour Walk ici -->
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Aucun résultat trouvé correspondant à votre recherche.</p>
  <% end %>
</div>
